body {
    background-color: bisque;
}

h1 {
    font-size:400%;
    margin-left: 100px; 
    margin-top: 10%;
}

h2{
    font-size: 200%;
    margin-left: 100px;
    margin-top: 5%;
}

div {
    margin-left: 100px;
    margin-top: 5%;
}

form {
    font-size:300%;
}

.box{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

.start{
    font-size: 100%;
}

.XXL {
    font-size:600%;
}

.styled {
    margin-left: 45%;
    margin-top: 25%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}